@import '../App';

.catalogue{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondaryColor;
    align-items: center;
    padding-bottom: $mediumM;
    h2{
        width: $largeC;
        height: $smallC;
        margin: $mediumM 0;
        border-bottom: 1px solid $secondaryColor;
        text-align: center;
        line-height: 37px;
        color: $secondaryColor;
        @each $property, $value in $h2Font {
            #{$property}: $value;
          }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .catalogueReleases{
        display: flex;
        flex-direction: column;
        margin-bottom: $smallM;
    }
    .showMoreDiv{
        display: flex;
        justify-content: center;
        width: 100%;
        .showMoreButton{
            padding: $mediumM 0 0;
            border: 0;
            background-color: $primaryColor;
            color: $secondaryColor;
        }
        .showMoreButton:hover{
            cursor: pointer;
            margin: $smallM 0 0;
            padding: $smallM;
            border-bottom: 1px solid $secondaryColor;
            transition: all .2s ease;
        }
    }
}

@media (min-width: 850px) {
    .catalogue{
        h2{
            width: 100%;
            justify-content: flex-start;
        }
        .catalogueReleases{
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $largeM;
        }
        .showMoreDiv{
            justify-content: flex-end;
        }
    }
}