@import '../App';

.filterWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $secondaryColor;
    padding-bottom: $mediumM;
    margin: $largeM 0 0;
    .filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .showMoreDiv{
        display: flex;
        justify-content: center;
        .showMoreButton{
            margin: $mediumM 0 0;
            border: 0;
            background-color: $primaryColor;
            color: $secondaryColor;
            @each $property, $value in $h5Font {
                #{$property}: $value;
            }
            transition: all .3s ease-in-out;
        }
        .showMoreButton:hover{
            cursor: pointer;
            margin: $smallM 0 0;
            padding: $smallM;
            border-bottom: 1px solid $secondaryColor;
        }
    }
}

@media (min-width: 850px) {
    .filterWrapper {
        .showMoreDiv{
            justify-content: flex-end;
        }
    }
}