@import '../App';

.releaseLarge{
    margin: 0 0 $largeM;
    border: none;
    background-color: $primaryColor;
    .releaseCoverArt{
        position: relative;
        transition: all .3s ease-in-out;
        width: 256px;
        height: 256px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $secondaryColor;
        img{
            width: 256px;
            height: 256px;
            display: block;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(127, 127, 127, 0.5);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
        &:hover:after {
            opacity: 1;
        }
    }
    .iconDiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        fill: $secondaryColor;
    }
    .releaseDescription{
        color: $secondaryColor;
        transition: all .3s ease-in-out;
        text-align: start;
        .releaseInfo{
            display: flex;
            flex-direction: column;
            .releaseTitle{
                h5{
                    margin: $mediumM 0 $smallM;
                    @each $property, $value in $h5Font {
                        #{$property}: $value;
                      }
                    width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
            }
            .releaseNameAndPrice{
                display: flex;
                justify-content: space-between;
                h6{
                    margin: 0;
                    @each $property, $value in $h6Font {
                        #{$property}: $value;
                      }
                }
                h5{
                    margin: 0;
                    @each $property, $value in $h5Font {
                        #{$property}: $value;
                      }
                }
            }
        }
    }
    &:hover .releaseCoverArt:after {
        opacity: 1;
    }
}
.releaseLarge:hover{
    cursor: pointer;
    .releaseCoverArt{
        box-shadow: none;
    }
    .releaseDescription{
        padding-left: $smallM;
    }
}