@import '../App';

.releaseLarge{
    margin: 0 0 $largeM;
    border: none;
    background-color: $primaryColor;
    .releaseCoverArt{
        width: 256px;
        height: 256px;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 5px #888888;
        border: 3px solid $secondaryColor;
        img{
            width: 256px;
            height: 256px;
        }
    }
    .releaseDescription{
        color: $secondaryColor;
        text-align: start;
        .releaseInfo{
            display: flex;
            flex-direction: column;
            .releaseTitle{
                h5{
                    margin: $mediumM 0 $smallM;
                    @each $property, $value in $h5Font {
                        #{$property}: $value;
                      }
                    width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
            }
            .releaseNameAndPrice{
                display: flex;
                justify-content: space-between;
                h6{
                    margin: 0;
                    @each $property, $value in $h6Font {
                        #{$property}: $value;
                      }
                }
                h5{
                    margin: 0;
                    @each $property, $value in $h5Font {
                        #{$property}: $value;
                      }
                }
            }
        }
    }
}
.releaseLarge:hover{
    cursor: pointer;
    .releaseCoverArt{
        box-shadow: none;
        transition: all .3s;
    }
    .releaseDescription{
        padding-left: $smallM;
        transition: all .3s;
    }
}