@import '../App';

.filter{
    padding: $smallM $mediumM;
    margin: $xxsmallM;
    border: 0;
    min-width: min-content;
    max-width: 100%;
    background-color: $secondaryColor;
    color: $primaryColor;
    transition: all 0.3s ease;
    p{
        @each $property, $value in $filterFont {
            #{$property}: $value;
        }
        margin: 0;
        padding: 0;
    }
}
.filter:hover{
    background-color: $primaryColor;
    color: $secondaryColor;
    cursor: pointer;
}