@import '../App';

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $smallC;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 $mediumM;
    cursor: text;
    .searchField{
        width: 100%;
        input{
            width: 95%;
            height: 100%;
            margin: 0;
            border: none;
            border-left: 1px solid $secondaryColor;
            padding-left: .5rem;
            font-family: 'Montserrat';
            color: $secondaryColor;
            background-color: $primaryColor;
        }
        input::placeholder{
            font-family: 'Montserrat';
            color: $secondaryColor;
        }
        input:focus{
            outline: none;
            border-left: 0px;
            border-bottom: 1px solid $secondaryColor;
            padding: $smallM;
            transition: all .3s ease;
        }
        input:focus::placeholder {
            color: transparent;
          }
    }
    .icon{
        svg{
            fill: $secondaryColor;
        }
    }
}
.searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $mediumM;
    border-bottom: 1px solid $secondaryColor;
    padding-bottom: $mediumM;
    h2{
        width: $largeC;
        height: $smallC;
        margin: $mediumM 0;
        border-bottom: 1px solid $secondaryColor;
        text-align: center;
        line-height: 37px;
        color: $secondaryColor;
        @each $property, $value in $h2Font {
            #{$property}: $value;
          }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .showMoreDiv{
        display: flex;
        justify-content: center;
        width: 100%;
        .showMoreButton{
            border: 0;
            background-color: $primaryColor;
            color: $secondaryColor;
            border-bottom: 1px solid $primaryColor;
            padding: $xsmallM 0;
            border-top: 1px solid $primaryColor;
            @each $property, $value in $h5Font {
                #{$property}: $value;
            }
            transition: all .3s ease-in-out;
        }
        .showMoreButton:hover{
            cursor: pointer;
            padding: $xsmallM;
            border-bottom: 1px solid $secondaryColor;
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    .searchBar{
        padding: 0 $xxlargeM;
    }
    .searchResults{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: $largeM;
        margin: 0 $mediumC;
        h2{
            width: 100%;
            justify-content: flex-start;
        }
        .showMoreDiv{
            justify-content: flex-end;
        }
    }
}