/* Global Variables

    Sizes:
        1rem = 16px
*/

/* Colors */
$primaryColor: #232323;
$secondaryColor: #d5fff4;
/* Margin & Padding Sizes */
$xxsmallM: .125rem;
$xsmallM: .25rem;
$smallM: .5rem;
$mediumM: 1rem;
$largeM: 2rem;
$xlargeM: 4rem;
$xxlargeM: 8rem;
/* Component Sizes */
$xsmallC: 2rem;
$smallC: 4rem;
$mediumC: 8rem;
$largeC: 16rem;
/* Text Styles */
$headerFont: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600
);
$h2Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600
);
$h4Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 500
);
$h5Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600,
    font-size: 14px
);
$h6Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 500,
    font-size: 12px
);
$filterFont: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 500
);
$addToCartFont: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600,
    font-size: 20px
);
$descriptionFont: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 400,
    font-size: 14px
);


// Make variables for bigger screen sizes with @media

body{
    margin: 0;
    background-color: $primaryColor;
}