@import 'App';

footer {
    display: flex;
    background-color: $tertiaryColor;
    padding: 0 $mediumM;
    justify-content: flex-end;
    align-items: center;
    height: $smallC;
    p {
        @each $property,
        $value in $h5Font {
            #{$property}: $value;
        }
        a {
            text-decoration: none;

            @each $property,
            $value in $h5Font {
                #{$property}: $value;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    footer {
        padding: 0 $xxlargeM;
    }
}