@import 'App';

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 $mediumM;
    height: $smallC;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        border: 0;
        background-color: $primaryColor;
        margin: 0;
        padding: 0;
        height: min-content;
        @each $property, $value in $headerFont {
            #{$property}: $value;
        }
        text-decoration: none;
        color: $secondaryColor;
        transition: all .3s ease-in-out;
    }
    .logo{
        height: inherit;
        display: flex;
        align-items: center;
    }
    .logo:hover{
        cursor: pointer;
        a{
            padding: $xsmallM;
            border-bottom: 1px solid $secondaryColor;
        }
    }
    .cartIcon{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;
        transition: all .3s ease-in-out;
        svg{
            fill: $secondaryColor;
        }
    }
    .cartIcon:hover{
        cursor: pointer;
        padding: $xsmallM;
        border-bottom: 1px solid $secondaryColor;
    }
}

/* Desktop */
@media (min-width: 850px) {
    header {
        padding: 0 $xxlargeM;
    }
}