@import 'App';

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 $mediumM;
    button{
        padding: 0;
        border: 0;
        background-color: $primaryColor;
        height: $smallC;
        color: $secondaryColor;
        p{
            margin: 0;
            padding: 0;
            @each $property, $value in $headerFont {
                #{$property}: $value;
            }
        }
    }
    .logo{
        button{
            text-align: start;
        }
        button:hover{
            cursor: pointer;
            p{
                padding: $xsmallM;
                border-bottom: 1px solid $secondaryColor;
                transition: all .2s ease;
            }
        }
    }
    .cart{
        display: flex;
        align-items: center;
        button{
            height: min-content;
            border-bottom: 1px solid $primaryColor;
            border-top: 1px solid $primaryColor;
            svg{
                fill: $secondaryColor;
            }
        }
        button:hover{
            cursor: pointer;
            padding: $xsmallM;
            border-bottom: 1px solid $secondaryColor;
            transition: all .2s ease;
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    header {
        padding: 0 $xxlargeM;
    }
}