@import 'App';

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 $mediumM;
    height: $smallC;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        border: 0;
        background-color: $primaryColor;
        margin: 0;
        padding: 0;
        height: min-content;
        border-bottom: 1px solid $primaryColor;
        border-top: 1px solid $primaryColor;

        @each $property,
        $value in $headerFont {
            #{$property}: $value;
        }

        text-decoration: none;
        color: $secondaryColor;
        transition: all .3s ease-in-out;
    }

    .logo {
        height: inherit;
        display: flex;
        align-items: center;
    }

    .logo:hover {
        cursor: pointer;

        a {
            padding: $xsmallM;
            border-bottom: 1px solid $secondaryColor;
        }
    }

    .cart {
        position: relative;

        .cartIcon {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $primaryColor;
            border-top: 1px solid $primaryColor;
            transition: all .3s ease-in-out;
            svg {
                fill: $secondaryColor;
                transition: all .3s ease-in-out;
            }
        }

        .cartBadge {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            color: $secondaryColor;
            background-color: $primaryColor;
            bottom: 18px;
            left: 16px;
            transition: all .3s ease-in-out;

            @each $property,
            $value in $h6Font {
                #{$property}: $value;
            }
        }
    }
    .cart:hover {
        cursor: pointer;

        .cartIcon {
            cursor: pointer;
            border-bottom: 1px solid $secondaryColor;
            padding: $xsmallM;
        }
        .cartBadge {
            cursor: pointer;
            color: transparent;
            background-color: transparent;
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    header {
        padding: 0 $xxlargeM;
        // .cart{
        //     .cartBadge{
        //         right: 115px;
        //     }
        // }
    }
}