@import 'App';

/* Mobile */
.releaseDetailsWrapper{
    margin: 0 2rem;
    .releaseDetails{
        .releaseTitleAndArtists{
            color: $secondaryColor;
            h2{
                margin: 0;
                padding: $largeM 0 $smallM;
                border-bottom: 1px solid $secondaryColor;
                @each $property, $value in $h2Font {
                    #{$property}: $value;
                }
            }
            .releaseArtits{
                display: flex;
                gap: $smallM;
                h4{
                    margin: $smallM 0 $mediumM;
                    @each $property, $value in $h4Font {
                        #{$property}: $value;
                    }
                }
            }
        }
        .releaseCoverArtInfoBuyButtonAndDescription{
            .releaseCoverArt{
                img{
                    width: 100%;
                }
            }
            .releaseInfoBuyButtonAndDescription{
                .releaseInfo{
                    .releasePriceAndType{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $secondaryColor;
                        margin-bottom: $largeM;
                        .releasePrice{
                            @each $property, $value in $h4Font {
                                #{$property}: $value;
                            }
                        }
                        .releaseType{
                            width: $smallC;
                            height: $xsmallC;
                            margin: 0;
                            background-color: $secondaryColor;
                            color: $primaryColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @each $property, $value in $h4Font {
                                #{$property}: $value;
                            }
                        }
                    }
                    .releaseLabelInfo{
                        display: flex;
                        justify-content: space-between;
                        margin: $mediumM 0;
                        border: 1px solid $secondaryColor;
                        color: $secondaryColor;
                        align-items: center;
                        .labelText{
                            margin: 0;
                            padding: $xsmallM $smallM;
                            text-align: center;
                            @each $property, $value in $h4Font {
                                #{$property}: $value;
                            }
                        }
                        .labelName{
                            margin: 0;
                            padding: $xsmallM $smallM;
                            text-align: center;
                            width: 100%;
                            border-left: 1px solid $secondaryColor;
                            @each $property, $value in $h4Font {
                                #{$property}: $value;
                            }
                        }
                    }
                }
                .releaseBuyButtonAndDescription{
                    .buyButton{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        height: $smallC;    
                        background-color: $secondaryColor;
                        color: $primaryColor;
                        border-bottom: 1px solid $secondaryColor;
                        transition: all .3s ease-in-out;
                        h2{
                            @each $property, $value in $addToCartFont {
                                #{$property}: $value;
                            }   
                        }
                        svg{
                            fill: $primaryColor;
                        }
                    }
                    .buyButton:hover{
                        cursor: pointer;
                        background-color: $primaryColor;
                        color: $secondaryColor;
                        svg{
                            fill: $secondaryColor;
                        }
                    }
                    .releaseDescription{
                        color: $secondaryColor;
                        h2{
                            margin: 0;
                            padding: $largeM 0 $smallM;
                            border-bottom: 1px solid $secondaryColor;
                            @each $property, $value in $h2Font {
                                #{$property}: $value;
                            }
                        }
                        p{
                            text-align: justify;
                            @each $property, $value in $descriptionFont {
                                #{$property}: $value;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sweetContainer{
    .swal2-modal{
        background-color: $primaryColor;
        border: 3px solid $secondaryColor;
        border-radius: 0;
        .sweetTitle{
            color: $secondaryColor;
            @each $property, $value in $h4Font {
                #{$property}: $value;
            }
        }
        .sweetButton{
            background-color: $secondaryColor;
            color: $primaryColor;
            border-bottom: 1px solid $secondaryColor;
            border-radius: 0;
            transition: all .3s ease-in-out;
        }
        .sweetButton:hover{
            cursor: pointer;
            background-color: $primaryColor;
            color: $secondaryColor;
        }
        .sweetButton:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    .releaseDetailsWrapper {
        margin: 0 $xxlargeM $xlargeM;
        .releaseDetails{
            .releaseCoverArtInfoBuyButtonAndDescription{
                display: flex;
                gap: $xlargeM;
                .releaseInfoBuyButtonAndDescription{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
  }