@import 'App';

/* Mobile */
.releaseDetailsWrapper {
    margin: 0 2rem 2rem;

    .releaseDetails {
        .releaseTitleAndArtistsAndSpotifyButton {
            color: $secondaryColor;

            .releaseTitleAndSpotifyButton {
                display: flex;

                h2 {
                    margin: 0;
                    padding: $largeM 0 $mediumM;
                    border-bottom: 1px solid $secondaryColor;
                    width: 100%;

                    @each $property,
                    $value in $h2Font {
                        #{$property}: $value;
                    }

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .spotifyButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $mediumM;
                    margin: 0 0 0 $mediumM;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid;
                    padding: $largeM $mediumM $mediumM;
                    height: fit-content;
                    background-color: $primaryColor;
                    color: $spotifyGreen;
                    transition: all .3s ease-in-out;

                    p {
                        margin: 0;
                        width: max-content;
                        display: none;

                        @each $property,
                        $value in $h2Font {
                            #{$property}: $value;
                        }
                    }

                    img {
                        height: $xsmallC;
                        width: fit-content;
                    }
                }

                .spotifyButton:hover {
                    cursor: pointer;
                }
            }

            .releaseArtits {
                display: flex;
                gap: $smallM;

                h4 {
                    margin: $smallM 0 $mediumM;

                    @each $property,
                    $value in $h4Font {
                        #{$property}: $value;
                    }
                }
            }
        }

        .releaseCoverArtInfoBuyButtonAndTracks {
            .releaseCoverArt {
                img {
                    width: 100%;
                }
            }
        }

        .releaseInfoBuyButtonAndTracks {
            .releaseInfo {
                .releasePriceAndType {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $secondaryColor;

                    .releasePrice {

                        @each $property,
                        $value in $h4Font {
                            #{$property}: $value;
                        }
                    }

                    .releaseType {
                        width: $smallC;
                        height: $xsmallC;
                        margin: 0;
                        background-color: $secondaryColor;
                        color: $primaryColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @each $property,
                        $value in $h4Font {
                            #{$property}: $value;
                        }
                    }
                }

                .releaseDate {
                    text-align: end;
                    color: $secondaryColor;

                    @each $property,
                    $value in $h4Font {
                        #{$property}: $value;
                    }

                    p {
                        margin: $mediumM 0 0;
                    }
                }

                .releaseLabelInfo {
                    display: flex;
                    justify-content: space-between;
                    margin: $mediumM 0;
                    border: 1px solid $secondaryColor;
                    color: $secondaryColor;
                    align-items: center;

                    .labelText {
                        margin: 0;
                        padding: $xsmallM $smallM;
                        text-align: center;

                        @each $property,
                        $value in $h4Font {
                            #{$property}: $value;
                        }
                    }

                    .labelName {
                        margin: 0;
                        padding: $xsmallM $smallM;
                        text-align: center;
                        width: 100%;
                        border-left: 1px solid $secondaryColor;

                        @each $property,
                        $value in $h4Font {
                            #{$property}: $value;
                        }
                    }
                }
            }

            .releaseBuyButtonAndTracks {
                .buyButton {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: $smallC;
                    background-color: $secondaryColor;
                    color: $primaryColor;
                    border-bottom: 1px solid $secondaryColor;
                    transition: all .3s ease-in-out;

                    h2 {

                        @each $property,
                        $value in $addToCartFont {
                            #{$property}: $value;
                        }
                    }

                    svg {
                        fill: $primaryColor;
                    }
                }

                .buyButton:hover {
                    cursor: pointer;
                    background-color: $primaryColor;
                    color: $secondaryColor;

                    svg {
                        fill: $secondaryColor;
                    }
                }

                .extraTitle {
                    h2 {
                        color: $secondaryColor;
                        margin: $mediumM 0 0 0;
                        padding: $mediumM;
                        border: 1px solid $secondaryColor;
                        text-align: center;

                        @each $property,
                        $value in $h5Font {
                            #{$property}: $value;
                        }
                    }
                }

                .releaseTracks {
                    color: $secondaryColor;

                    h2 {
                        margin: 0;
                        padding: $largeM 0 $smallM;
                        border-bottom: 1px solid $secondaryColor;

                        @each $property,
                        $value in $h2Font {
                            #{$property}: $value;
                        }
                    }

                    p {

                        @each $property,
                        $value in $tracksFont {
                            #{$property}: $value;
                        }
                    }
                }
            }
        }
    }
}

.sweetContainer {
    .swal2-modal {
        background-color: $primaryColor;
        border: 3px solid $secondaryColor;
        border-radius: 0;

        .sweetTitle {
            color: $secondaryColor;

            @each $property,
            $value in $h4Font {
                #{$property}: $value;
            }
        }

        .sweetButton {
            background-color: $secondaryColor;
            color: $primaryColor;
            border-bottom: 1px solid $secondaryColor;
            border-radius: 0;
            transition: all .3s ease-in-out;
        }

        .sweetButton:hover {
            cursor: pointer;
            background-color: $primaryColor;
            color: $secondaryColor;
            background-image: none;
        }

        .sweetButton:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .releaseDetailsWrapper {
        margin: 0 $xxlargeM $xlargeM;

        .releaseDetails {
            .releaseTitleAndArtistsAndSpotifyButton {
                .releaseTitleAndSpotifyButton {
                    .spotifyButton {
                        width: 20%;

                        p {
                            display: block;
                        }
                    }

                    .spotifyButton:hover {
                        width: 30%;
                    }
                }
            }

            .releaseCoverArtInfoBuyButtonAndTracks {
                display: flex;
                gap: $xlargeM;

                .releaseInfoBuyButtonAndTracks {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
}