@import './App';

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $smallC;
    border-bottom: 1px solid $secondaryColor;
    padding: 0 $mediumM;
    .searchField{
        width: 100%;
        input{
            width: 95%;
            height: 100%;
            margin: 0;
            border: none;
            border-left: 1px solid $secondaryColor;
            padding-left: .5rem;
            font-family: 'Montserrat';
            color: $secondaryColor;
        }
        input::placeholder{
            font-family: 'Montserrat';
            color: $secondaryColor;
        }
        input:focus{
            outline: none;
            border-left: 0px;
            border-bottom: 1px solid $secondaryColor;
            padding: $smallM;
            transition: all .3s ease;
        }
        input:focus::placeholder {
            color: transparent;
          }
    }
    .icon{
        svg{
            fill: $secondaryColor;
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    .searchBar{
        padding: 0 $xxlargeM;
    }
}